<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://cxf.apache.org/core
          http://cxf.apache.org/schemas/core.xsd
          http://cxf.apache.org/jaxws
          http://cxf.apache.org/schemas/jaxws.xsd">

    <!--<bean id="client" class="com.soecode.lyf.client.CxfDemo"
          factory-bean="clientFactory" factory-method="create">
    </bean>

    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.soecode.lyf.client.CxfDemo"/>
        <property name="address" value="http://127.0.0.1:9090/ssm/ws/books?wsdl"/>
    </bean>-->
    <bean id="DemoClientPasswordCallback" class="com.soecode.lyf.soa.DemoClientPasswordCallback"/>

    <jaxws:client id="DemoClient" serviceClass="com.soecode.lyf.client.CxfDemo"
                  address="http://127.0.0.1:9090/ssm/ws/books?wsdl">
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken"/>
                        <entry key="passwordType" value="PasswordText"/>
                        <entry key="user" value="FHDClient"/>
                        <entry key="passwordCallbackRef">
                            <ref bean="DemoClientPasswordCallback"/>
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
        </jaxws:outInterceptors>
    </jaxws:client>
</beans>
